<%= simple_form_for(@message) do |f| %>
  <div class="pure-form">
    <%= f.input :organization_id, :as => :hidden, :input_html => { :value => @org_id } %>
    <%= f.input :sender_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :likes, :as => :hidden, :input_html => { :value => 0 } %>
    <%= f.input :date_time, :as => :hidden, :input_html => { :value => Time.now } %>
    <div class="field">
			<%= f.label :message_text %><br>
			<%= f.text_area :message_text %>
		</div>
    <%= f.submit "Send Message" %>
  </div>
<% end %>