<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :organization_id %>
    <%= f.input :sender_id %>
    <%= f.input :message_text %>
    <%= f.input :likes %>
    <%= f.input :date_time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
