<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @message.organization_id %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender_id %>
</p>

<p>
  <strong>Message text:</strong>
  <%= @message.message_text %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @message.likes %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @message.date_time %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
