<style>
	#content .center {
		position: relative;
		top: 30px;
	}
	#content form {
		position: relative;
	}
	#content .center {
		width: 350px;
	}
	#content label {
		position: relative;
		font-size: 18px;
		bottom: 5px;
	}
	#content input {
		width: 300px;
		height: 35px;

		margin-bottom: 35px;
	}
	#content .light-gray-border {
		padding: 30px 20px;
	}
</style>


<div class="center">
	<h3>Log In</h3>
	<%= form_tag(sessions_path, class: "pure-form light-gray-border") do %>
			<%= label_tag :email %><br/>
			<%= text_field_tag :email, params[:email] %>
			<br/>
			<%= label_tag :password %><br/>
			<%= password_field_tag :password %>
		
		<%= submit_tag("Log In", class: 'pure-button') %>
	<% end %>
</div>