<style>
	#content .center {
		width: 300px;
	}
	#content label {
		font-size:;
	}
	#content input {
		width: 300px;
		height: 35px;

		margin-bottom: 20px;
	}
</style>


<div class="center">
	<h3>Log In</h3>
	<%= form_tag(sessions_path, class: "pure-form") do %>
			<%= label_tag :email %><br/>
			<%= text_field_tag :email, params[:email] %>
			<br/>
			<%= label_tag :password %><br/>
			<%= password_field_tag :password %>
		
		<div class="actions"><%= submit_tag "Log In" %></div>
	<% end %>
</div>