<%= simple_form_for(@fundraiser) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :owner_id %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :goal %>
    <%= f.input :raised %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
