<style>
	#owner-image {
		height: 64px;

		border-radius: 32px;
	}
	#owner-name {
		font-size: 24px;

		position: relative;
		top: 15px;
		right: 20px;
	}
	#fund-tracker {
		font-family: Arial;
		font-weight: bold;
		height: 50px;
		font-size: 35px;
		color: #4fd7b1;
	}
	#fund-tracker .sep {
		color: #01b9f5;
		font-size: 15px;
	}
	#fund-tracker-bar {
		position: relative;

		width: 400px;
		height: 10px;
	}
	#fund-tracker-background,
	#fund-tracker-foreground {
		position: absolute;
		border-radius: 4px;
		height: 100%;
	}
	#fund-tracker-background {
		z-index: 0;

		width: 100%;
		background-color: #bebebe;
	}
	#fund-tracker-foreground {
		z-index: 1;

		transition: width 2s;
		width: 10%;
		background-color: #4fd7b1;
	}
	#fundraiser-image {
		width: 100%;
		margin: 20px 0;
	}

	#user-actions a, #user-actions a:hover {
		text-decoration: none;
		color: #219cc8;
	}
	.user-action {
		height: 84px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.user-action:hover {
		filter: brightness(0.8);
	}
</style>
<p id="notice"><%= notice %></p>

<div class="full-width">
	<div class="large-basic-container">
		<div class="pure-g">
			<div class="pure-u-12-24">
				<div class="pure-g">
					<% ownerName = User.find_by_id(@fundraiser.owner_id).nickname %>
					<% ownerDisplayName = User.find_by_id(@fundraiser.owner_id).proper_name %>
					<div class="pure-u-1-5">
						<%= image_tag getUserImagePath(ownerName), id: "owner-image" %>
					</div>
					<div class="pure-u-4-5">
						<span id="owner-name"><%= ownerDisplayName %></span>
					</div>
				</div>
			</div>
			<div class="pure-u-12-24">
				<div id="fund-tracker">
					<div id="fund-tracker-bar">
						<%= number_to_currency(@fundraiser.raised) %>&nbsp;&nbsp;/&nbsp;&nbsp;<%= number_to_currency(@fundraiser.goal) %>
						<div id="fund-tracker-background"></div>
						<div id="fund-tracker-foreground"></div>
						<script>
							$(document).ready(function() {
								var percentage = '<%= (@fundraiser.raised / @fundraiser.goal).round(2) * 100 %>%';
								$('#fund-tracker-foreground').css('width', percentage);
							});
						</script>
					</div>
				</div>
				<% if @fundraiser.category == "flex" %>
					<div style="font-size: 12px; color: #219cc8; position: relative; top: 5px;">
						*This fundraiser has flex funding.
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>



<%= image_tag(getFundraiserImagePath(@fundraiser.name), id: "fundraiser-image") %>

<div class="full-width">
	<div class="small-basic-container">
		<div class="section light-gray" style="min-height: 100px;">
			<div class="header" style="color: #219cc8; min-height: 50px;">
				<div style="float: right;">
					<div style="font-size: 12px;"><%= @fundraiser.end_date == nil ? 'Start Date' : 'Dates' %></div>
					<div>
						<%= @fundraiser.start_date %>
						<% if @fundraiser.end_date != nil %>
							- <%= @fundraiser.end_date %>
						<% end %>
					</div>
				</div>
				<div style="float: left; font-size: 20px;">
					Description
				</div>
			</div>
			<div class="body">
				<%= @fundraiser.description %>
			</div>
		</div>
	</div>
</div>

<div class="full-width" style="text-align: center !important;">
	<%= link_to nil do %>
		<%= image_tag 'icons/payment-blue.png', class: "user-action" %>
	<% end %>
</div>

<p>
	<strong>Owner:</strong>
	<%= @fundraiser.owner_id %>
</p>

<p>
	<strong>Name:</strong>
	<%= @fundraiser.name %>
</p>

<p>
	<strong>Category:</strong>
	<%= @fundraiser.category %>
</p>

<p>
	<strong>Goal:</strong>
	<%= @fundraiser.goal %>
</p>

<p>
	<strong>Raised:</strong>
	<%= @fundraiser.raised %>
</p>

<p>
	<strong>Start date:</strong>
	<%= @fundraiser.start_date %>
</p>

<p>
	<strong>End date:</strong>
	<%= @fundraiser.end_date %>
</p>

<p>
	<strong>Description:</strong>
	<%= @fundraiser.description %>
</p>

<%= link_to 'Edit', edit_fundraiser_path(@fundraiser) %> |
<%= link_to "Contribute to this fundraiser", new_payment_path(:source => "fundraiser", :fund_id => @fundraiser.id) %>