<style>
	#owner-image {
		height: 64px;

		border-radius: 32px;
	}
	#owner-name {
		font-size: 24px;

		position: relative;
		top: 15px;
		right: 20px;
	}
	#fund-tracker {
		font-family: Arial;
		font-weight: bold;
		height: 50px;
		font-size: 35px;
		color: #4fd7b1;
	}
	#fund-tracker .sep {
		color: #01b9f5;
		font-size: 15px;
	}
	#fund-tracker-bar {
		position: relative;

		width: 400px;
		height: 10px;
	}
	#fund-tracker-background,
	#fund-tracker-foreground {
		position: absolute;
		border-radius: 4px;
		height: 100%;
	}
	#fund-tracker-background {
		z-index: 0;

		width: 100%;
		background-color: #bebebe;
	}
	#fund-tracker-foreground {
		z-index: 1;

		transition: width 2s;
		width: 10%;
		background-color: #4fd7b1;
	}
	#fundraiser-image {
		width: 100%;
		margin: 20px 0;
	}

	#user-actions a, #user-actions a:hover {
		text-decoration: none;
		color: #219cc8;
	}
	.user-action {
		height: 84px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.user-action:hover {
		filter: brightness(0.8);
	}
</style>
<p id="notice"><%= notice %></p>

<div class="full-width">
	<div class="large-basic-container">
		<div class="pure-g">
			<div class="pure-u-12-24">
				<div class="pure-g">
					<% ownerName = User.find_by_id(@fundraiser.owner_id).nickname %>
					<% ownerDisplayName = User.find_by_id(@fundraiser.owner_id).proper_name %>
					<div class="pure-u-1-5">
						<%= image_tag getUserImagePath(ownerName), id: "owner-image" %>
					</div>
					<div class="pure-u-4-5">
						<span id="owner-name"><%= ownerDisplayName %></span>
					</div>
				</div>
			</div>
			<div class="pure-u-12-24">
				<div id="fund-tracker">
					<div id="fund-tracker-bar">
						<%= number_to_currency(@fundraiser.raised) %>&nbsp;&nbsp;/&nbsp;&nbsp;<%= number_to_currency(@fundraiser.goal) %>
						<div id="fund-tracker-background"></div>
						<div id="fund-tracker-foreground"></div>
						<script>
							$(document).ready(function() {
								var percentage = '<%= (@fundraiser.raised / @fundraiser.goal).round(2) * 100 %>%';
								$('#fund-tracker-foreground').css('width', percentage);
							});
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<%= image_tag(getFundraiserImagePath(@fundraiser.name), id: "fundraiser-image") %>

<div class="full-width" style="text-align: center !important;">
	<%= link_to new_payment_path(:source => "fundraiser", :fund_id => @fundraiser.id) do %>
		<%= image_tag 'icons/payment-blue.png', class: "user-action" %>
	<% end %>
</div>

<div class="full-width">
	<div class="medium-basic-container">
		<style>
			.wrapper {
				margin: 0 auto;
				font-family: "Segoe UI";
			}
			#header {
				min-height: 50px;
			}
			#desc-header, #date {
				font-size: 24px;
				color: #219cc8;
			}
			#desc-header, #name-header {
				float: right;
			}
			#date, #amount {
				float: left;
			}
			#desc-body {
				color: #2d2d2d;
			}
			#start-date {
				font-size: 10px;
				font-family: "Segoe UI";
				color: #219cc8;
			}
			#amount, #name-header {
				font-size: 16px;
				color: #219cc8;
			}
		</style>
			<div class="section light-gray">
				<div class="wrapper">
					<div id="header">
						<div id="date">
							<% if @fundraiser.end_date.nil? %>
								<div id="start-date">
									<small>Start Date</small>
								</div>
								<%= @fundraiser.start_date.strftime("%-m.%-d.%y") %>
							<% else %>
								<%= @fundraiser.start_date.strftime("%-m.%-d.%y") - @fundraiser.end_date.strftime("%-m.%-d.%y") %>
							<% end %>
						</div>
						<div id="desc-header">
							Description
						</div>
					</div>
					<div id="desc-body">
						<%= @fundraiser.description %>
					</div>
				</div>
			</div>
			<br>
			<% unless @payments.empty? %>
				<% for p in @payments %>
					<div class="section light-gray small-basic-container">
						<div class="wrapper">
							<div id="header">
								<div id="amount">
									<%= number_to_currency(p.amount) %>
								</div>
								<div id="name-header">
									<%= p.date.strftime("%-m.%-d.%y") %>
								</div>
							</div>
							<div id="desc-body">
								<%= p.payer.proper_name + ": " + p.message %>
							</div>
						</div>
					</div>
					<br>
				<% end %>
			<% else %>
			<% end %>
	</div>
</div>