<style>
	#content a {
		text-decoration: none !important;
	}
	#owner-image {
		height: 64px;

		border-radius: 32px;
	}
	#owner-name {
		font-size: 24px;

		position: relative;
		top: 15px;
		right: 20px;
	}
	#fund-tracker {
		font-family: Arial;
		font-weight: bold;
		height: 50px;
		font-size: 35px;
		color: #4fd7b1;
	}
	#fund-tracker .sep {
		color: #01b9f5;
		font-size: 15px;
	}
	#fund-tracker-bar {
		position: relative;

		width: 400px;
		height: 10px;
	}
	#fund-tracker-background,
	#fund-tracker-foreground {
		position: absolute;
		border-radius: 4px;
		height: 100%;
	}
	#fund-tracker-background {
		z-index: 0;

		width: 100%;
		background-color: #bebebe;
	}
	#fund-tracker-foreground {
		z-index: 1;

		transition: width 2s;
		width: 10%;
		background-color: #4fd7b1;
	}
	#fundraiser-image {
		width: 100%;
		margin: 20px 0;
	}

	#user-actions a, #user-actions a:hover {
		text-decoration: none;
		color: #219cc8;
	}
	.user-action {
		height: 84px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.user-action:hover {
		filter: brightness(0.8);
	}
</style>
<p id="notice"><%= notice %></p>

<div class="full-width">
	<div class="large-basic-container">
		<div class="pure-g">
			<div class="pure-u-12-24">
				<div class="pure-g" id="owner-info" style="visibility: hidden;">
					<% ownerName = User.find_by_id(@fundraiser.owner_id).nickname %>
					<% ownerDisplayName = User.find_by_id(@fundraiser.owner_id).proper_name %>
					<div class="pure-u-1-5">
						<%= image_tag getUserImagePath(ownerName), id: "owner-image" %>
					</div>
					<div class="pure-u-4-5">
						<span id="owner-name"><%= ownerDisplayName %></span>
					</div>
				</div>
				<script>
					$(document).ready(function() {
						$('#owner-info').css('visibility', 'visible');
						$('#owner-info').animateCss('bounceIn');
					});
				</script>
			</div>
			<div class="pure-u-12-24">
				<div id="fund-tracker">
					<div id="fund-tracker-bar">
						<%= number_to_currency(@fundraiser.raised) %>&nbsp;&nbsp;/&nbsp;&nbsp;<%= number_to_currency(@fundraiser.goal) %>
						<div id="fund-tracker-background"></div>
						<div id="fund-tracker-foreground"></div>
						<script>
							$(document).ready(function() {
								var percentage = '<%= (@fundraiser.raised / @fundraiser.goal).round(2) * 100 %>%';
								$('#fund-tracker-foreground').css('width', percentage);
							});
						</script>
					</div>
				</div>
				<% if @fundraiser.category == "flex" %>
					<div style="font-size: 12px; color: #219cc8; position: relative; top: 5px;">
						*This fundraiser has flex funding.
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= image_tag(getFundraiserImagePath(@fundraiser.name), id: "fundraiser-image") %>
<div id="basic-fundraiser">
<div class="full-width">
	<div class="small-basic-container">
		<div class="section light-gray" style="min-height: 100px;">
			<div class="header" style="color: #219cc8; min-height: 50px;">
				<div style="float: right;">
					<div style="font-size: 12px;"><%= @fundraiser.end_date == nil ? 'Start Date' : 'Dates' %></div>
					<div>
						<%= @fundraiser.start_date.strftime("%-m-%-d-%y") %>
						<% if @fundraiser.end_date != nil %>
							- <%= @fundraiser.end_date.strftime("%-m-%-d-%y") %>
						<% end %>
					</div>
				</div>
				<div style="float: left; font-size: 20px;">
					Description
				</div>
			</div>
			<div class="body">
				<%= @fundraiser.description %>
			</div>
		</div>
	</div>
</div>

<div class="full-width" style="text-align: center !important;">
	<%= link_to new_payment_path(:source => "fundraiser", :fund_id => @fundraiser.id) do %>
		<%= image_tag 'icons/payment-blue.png', class: "user-action" %>
	<% end %>
	<br/>
	<button id="see-payments-button" class="pure-button">
		See Payments
	</button>
	<script>
		$("#see-payments-button").click(function() {
			var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
			$('#basic-fundraiser').addClass('animated ' + 'fadeOut').one(animationEnd, function() {
			    $('#basic-fundraiser').removeClass('animated ' + 'fadeOut');
			    $('#basic-fundraiser').hide();
			    $('#messages').show();
			    $('#messages').animateCss('slideInUp');
			});					
		});
	</script>
</div>


</div>

<div class="full-width">
	<div class="medium-basic-container" style="text-align: center !important;">
		<style>
			.wrapper {
				margin: 0 auto;
				font-family: "Segoe UI";
			}
			#header {
				min-height: 35px;
			}
			#desc-header, #date {
				font-size: 24px;
				color: #219cc8;
			}
			#desc-header, #name-header {
				float: right;
			}
			#date, #amount {
				float: left;
			}
			#desc-body {
				color: #2d2d2d;
			}
			#start-date {
				font-size: 10px;
				font-family: "Segoe UI";
				color: #219cc8;
			}
			#amount, #name-header {
				font-size: 16px;
				color: #219cc8;
			}
			#messages {
				display: none;
			}
		</style>
		<div id="messages">
			<button id="hide-payments-button" class="pure-button" style="margin-bottom: 20px;">
				Hide Payments
			</button>
			<script>
				$("#hide-payments-button").click(function() {
					var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
					$('#messages').addClass('animated ' + 'slideOutDown').one(animationEnd, function() {
					    $('#messages').removeClass('animated ' + 'slideOutDown');
					    $('#messages').hide();
					    $('#basic-fundraiser').show();
					    $('#basic-fundraiser').animateCss('fadeIn');
					});					
				});
			</script>
			<% unless @payments.empty? %>
				<% for p in @payments %>
					<div class="section light-gray small-basic-container">
						<div class="wrapper">
							<div id="header">
								<div id="amount">
									<%= p.payer.proper_name %>
								</div>
								<div id="name-header">
									<%= number_to_currency(p.amount) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= p.date.strftime("%-m-%-d-%y") %>
								</div>
							</div>
							<div id="desc-body" style="text-align: left !important;">
								<%= p.message %>
							</div>
						</div>
					</div>
					<br>
				<% end %>
			<% else %>
			<% end %>
		</div>
	</div>
</div>