<p id="notice"><%= notice %></p>

<h1>Listing Organization Users</h1>

<table>
  <thead>
    <tr>
      <th>Org</th>
      <th>User</th>
      <th>Role</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organization_users.each do |organization_user| %>
      <tr>
        <td><%= organization_user.org_id %></td>
        <td><%= organization_user.user_id %></td>
        <td><%= organization_user.role %></td>
        <td><%= organization_user.title %></td>
        <td><%= link_to 'Show', organization_user %></td>
        <td><%= link_to 'Edit', edit_organization_user_path(organization_user) %></td>
        <td><%= link_to 'Destroy', organization_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization user', new_organization_user_path %>
