<p id="notice"><%= notice %></p>

<p>
  <strong>Org:</strong>
  <%= @organization_user.org_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @organization_user.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @organization_user.role %>
</p>

<p>
  <strong>Title:</strong>
  <%= @organization_user.title %>
</p>

<%= link_to 'Edit', edit_organization_user_path(@organization_user) %> |
<%= link_to 'Back', organization_users_path %>
