<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<h3><%= "#{@user.first_name}'s Payments" %></h3>

<h5>Payments Sent</h5>
<% unless @payer_payments.empty? %>
  <!-- Table when user = payer -->
  <table>
    <thead>
      <tr>
        <th>Payee</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% for p in @payer_payments %>
        <tr>
          <td><%= User.find(p.payee_id).proper_name %></td>
          <td><%= number_to_currency(p.amount) %></td>
          <td><%= p.date.strftime("%m/%d/%y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No payments exist in our system yet.
<% end %>
<br>

<h5>Payments Received</h5>
<% unless @payee_payments.empty? %>
  <!-- Table when user = payee -->
  <table>
    <thead>
      <tr>
        <th>Payer</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% for p in @payee_payments %>
        <tr>
          <td><%= User.find(p.payer_id).proper_name %></td>
          <td><%= number_to_currency(p.amount) %></td>
          <td><%= p.date.strftime("%m/%d/%y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No payments exist in our system yet.
<% end %>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>