<p id="notice"><%= notice %></p>
<style>
	.photos {
		margin-top: 30px;
	}
	a {
		text-decoration: none !important;
	}
	.user-photo {
		height: 180px;
		border-radius: 90px;

		margin-bottom: 10px;
	}
	.user-photo:hover {
		filter: brightness(0.8);
	}
	.user-name {
		font-size: 32px;
		color: #219cc8;
	}
</style>
<div class="full-width">
	<div class="small-basic-container">
		<div class="pure-g photos">
			<div class="pure-u-10-24" style="text-align: center !important;">
				<%= image_tag getUserImagePath(@user.nickname), class: 'user-photo', id: "payer-photo" %>
				<br/>
			</div>
			<div class="pure-u-14-24" style="text-align: center !important; position: relative;">
				<div class="user-name">
					<%= @user.proper_name + " (" + @user.nickname + ")"%> 
				</div><br>
				<style>
					#email {
						position: relative;
						bottom: 15px;
					}
					#funds {
						position: relative;

						font-size: 36px;
					}
					#funds #funds-label {
						font-size: 20px;
						margin-bottom: 8px;
					}
				</style>
		        <span id="email"><%= mail_to(@user.email, @user.email, encode: "javascript") %></span><br>

		        <div id="funds">
		        	<span id="funds-label">Funds</span><br/>
		        	<%= number_to_currency(@user.funds) %>
		        </div>
			</div>
			<script>
				$(document).ready(function() {
					$('#payer-photo').animateCss("bounceIn");
				});
			</script>
	</div>
</div>

<div class="full-width" style="margin-top: 30px;">
  <div class="small-basic-container">
    <div class="section light-gray">
      <h3 style="margin: 0; margin-bottom: 20px;">Fundraisers</h3>
        <% unless @fundraisers.empty? %>
          <table class="pure-table pure-table-horizontal">
            <thead>
              <tr>
                <th>Name</th>
                <th>Raised</th>
                <th>Goal</th>
              </tr>
            </thead>
            <tbody>
              <% for f in @fundraisers %>
                <tr>
                  <td><%= link_to f.name, fundraiser_path(f) %></td>
                  <td><%= number_to_currency(f.raised) %></td>
                  <td><%= number_to_currency(f.goal) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          This user has not created any fundraisers yet.
        <% end %>
			<br>
      <h3 style="margin: 0; margin-bottom: 20px;">Organizations</h3>
        <% unless @organizations.empty? %>
          <table class="pure-table pure-table-horizontal">
            <thead>
              <tr>
                <th>Name</th><!-- asdf -->
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <% for o in @organizations %>
                <tr>
                  <td><%= link_to o.name, organization_path(o) %></td>
                  <% r = OrganizationUser.where(org_id: o.id, user_id: @user.id).first %>
									<td><%= r.role %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          This user is not part of any organizations yet.
        <% end %>
    </div>
  </div>
</div>
<br>