<style>
	#featured-fundraisers-label,
	#recent-payments-label {
		font-size: 36px;
		/*color: #219cc8;*/
		margin-top: 50px;
		margin-bottom: 35px;
	}
</style>
<div class="large-basic-container" style="text-align: center; margin-top: 50px; margin-bottom: 20px;">
	<h1>Welcome to Pail, a Capital One Hack</h1>
	<p>
		Accounts for log-in:<br/>
		example@example.com<br/>
		<br/>
		Password is <i>'secret'</i> (without quotes)<br/>
		Feel free to create your own account as well.
	</p>
	<h3>Additional Info</h3>
	<p>
		<a target="_blank" href="https://github.com/liao-frank/Pail">Github Repository</a><br/>
		My Email: fliao@andrew.cmu.edu
	</p>
</div>
<div class="full-width">
	<div class="large-basic-container">
		<div id="featured-fundraisers-label">Featured Fundraisers</div>
		<div id="featured-fundraisers" class="pure-g">
			<div class="pure-u-1-2">
				<% @fundraiser = @jason_fundraiser %>
				<%= render 'fundraiser_card' %>
			</div>
			<div  class="pure-u-1-2">
				<% @fundraiser = @sarah_fundraiser %>
				<%= render 'fundraiser_card' %>
			</div>
		</div>
	</div>
	<style>
		#user-actions {
			margin: 0 auto;
			width: 400px;
			margin-top: 20px;
			margin-bottom: 20px;

		}
		#user-actions a, #user-actions a:hover {
			text-decoration: none;
			color: #219cc8;
		}
		.user-action {
			height: 84px;
			margin: 0 auto;
		}
		.user-action:hover {
			filter: brightness(0.8);
		}
	</style>
	<div id="user-actions">
		<div class="pure-g">
			<div class="pure-u-1-3" style="text-align: center !important;">
				<%= link_to organizations_path do %>
					<%= image_tag "icons/building-icon-blue.png", class: "user-action" %><br/>
					Orgs
				<% end %>
			</div>
			<div class="pure-u-1-3" style="text-align: center !important;">
				<%= link_to fundraisers_path do %>
					<%= image_tag "icons/bag-icon-blue.png", class: "user-action" %>
					Raisers
				<% end %>
			</div>
			<div class="pure-u-1-3" style="text-align: center !important;">
				<%= link_to new_payment_path(:source => "personal") do %>
					<%= image_tag "icons/handshake-icon-blue.png", class: "user-action" %><br/>
					Pay
				<% end %>
			</div>
		</div>
		</div>
	<div class="medium-basic-container">
		<div id="recent-payments-label">Friend Activity</div>
		<div id="recent-payments" class="section light-gray">
			<style>
				* {
					text-decoration: none !important;
				}
				#recent-payments .payment-row {
					padding: 10px 10px;

					border-radius: 7px;
					transition: 0.2s !important;
					transition-delay: 0s !important;

					color: #000 !important;
				}
				#recent-payments .payment-row:hover {
					filter: brightness(0.7);
					background-color: #fff;
				}
				#recent-payments .payment-row .center-image {
					text-align: center !important;
				}
				#recent-payments .user-image {
					height: 50px;
					border-radius: 25px;
				}
				#recent-payments .arrow-image {
					height: 32px;

					position: relative;
					top: 10px;
				}
				#recent-payments .payment-data {
					font-family: "Segoe UI";
					letter-spacing: 0;
					font-size: 20px;

					position: relative;
					top: 10px;
				}
			</style>
			<% for payment in @good_payments %>
				<%= link_to payment_path(payment.id) do %>
					<div class="payment-row">
						<div class="pure-g">
							<div class="pure-u-2-24 center-image">
								<% userName = (User.find_by_id(payment.payer_id)).nickname %>
								<%= image_tag getUserImagePath(userName), class: "user-image" %>
							</div>
							<div class="pure-u-2-24 center-image">
								<%= image_tag "icons/double-arrow-blue.png", class: "arrow-image"%>
							</div>
							<div class="pure-u-2-24 center-image">
								<% userName = (User.find_by_id(payment.payee_id)).nickname %>
								<%= image_tag getUserImagePath(userName), class: "user-image" %>
							</div>
							<div class="pure-u-1-24">&nbsp;</div>
							<div class="pure-u-16-24 payment-data">
								<div style="float: left;">
									<%= number_to_currency(payment.amount) %>
								</div>
								<div style="float: right;">
									<%= payment.date.strftime("%-m-%-d-%y") %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
			<script>
			</script>
		</div>
	</div>
</div>
<br>