<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">
	.body {
		font-family: 'Segoe UI';
		margin: 0;
		min-width: 100%;
		min-height: 100%;
	}

</style>
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
	<h3 class="w3-bar-item">Options</h3>
	<% if logged_in? %>
	<%= link_to "Click here to pay someone", new_payment_path %><br>
	<%= link_to "Click here to view your payments", payments_path %><br>
	<%= link_to "Click here to view your fundraisers", fundraisers_path %><br>
	<%= link_to "Click here to view your Organizations", organizations_path %><br>
	<% end %>
</div>

<div class="small-basic-container">
	<% for p in @payments %>
	<div class="pure-g">
		<div class="pure-u-1-5">
			<%= image_tag getUserImagePath(p.payer.nickname), class: 'user-image' %>
		</div>
		<% end %>
	</div>
</div>

<div class="small-basic-container">
	<% for f in @fundraisers %>
	<div class="pure-g">
		<div class="pure-u-1-5">
			<%= image_tag getFundraiserImagePath(f.name), class: 'user-image' %>
		</div>
	</div>
	<% end %>
</div>