<h2>Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h2>
<p class="supertiny">&nbsp;</p>

<p><em><strong>Users matching term '<%= @query %>'</strong></em></p>
<% unless @users.empty? %>
	<ul>
		<% for user in @users do %>
			<li><%= link_to user.name, user_path(user) %></li>
		<% end %>
	</ul>
	<p class="smtext">&nbsp;</p>
<% else %>
<ul>
  No search results
</ul>
<% end %>

<p><em><strong>Fundraisers matching term '<%= @query %>'</strong></em></p>
<% unless @fundraisers.empty? %>
	<ul>
		<% for f in @fundraisers do %>
			<li><%= link_to f.name, fundraiser_path(f) %>: created by <%= "#{f.user.name}" %></li>
		<% end %>
	</ul>
	<p class="supertiny">&nbsp;</p>
<% else %>
<ul>
  No search results
</ul>
<% end %>

<p><em><strong>Organizations matching term '<%= @query %>'</strong></em></p>
<% unless @organizations.empty? %>
	<ul>
		<% for o in @organizations do %>
			<li><%= link_to o.name, organization_path(o) %>: created by <%= "#{o.user.name}" %></li>
		<% end %>
	</ul>
	<p class="supertiny">&nbsp;</p>
<% else %>
<ul>
  No search results
</ul>
<% end %>