<%= simple_form_for(@payment) do |f| %>
	<% if @payment.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

			<ul>
			<% @payment.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div class="pure-form">
		<% unless @source == "fundraiser" %>
			<div class="field">
				<%= f.label :payee_id %><br>
				<%= f.collection_select :payee_id, User.alphabetical.all.to_a - [current_user], :id, :name %>
				<style>
					.user-photo {
						height: 64px;
						border-radius: 8px;
						margin-right: 10px;
						margin-bottom: 10px;
					}
				</style>
				<span class="photo-one">
					<%= image_tag('users/jason.jpg', class: 'user-photo', id: 'jason-photo') %>
					<script>
						$('#jason-photo').click(function() {
							$('#payment_payee_id').val("4");
						});
					</script>
				</span>
				<span class="photo-two">
					<%= image_tag "users/sarah.jpg", class: 'user-photo', id: 'sarah-photo' %>
					<script>
						$('#sarah-photo').click(function() {
							$('#payment_payee_id').val("5");
						});
					</script>
				</span>
				<span class="photo-three">
					<%= image_tag "users/louie.jpg", class: 'user-photo', id: 'louie-photo' %>
					<script>
						$('#louie-photo').click(function() {
							$('#payment_payee_id').val("7");
						});
					</script>
				</span>
				<span class="photo-four">
					<%= image_tag "users/firoze.jpg", class: 'user-photo', id: 'firoze-photo' %>
					<script>
						$('#firoze-photo').click(function() {
							$('#payment_payee_id').val("6");
						});
					</script>
				</span>
				<script>
					$('.user-photo').mouseenter(function(){
						$(this).animateCss('bounce');
					});

					$('.user-photo').click(function(){
						$(this).animateCss('bounce');
					});
				</script>
			</div>
		<% else %>
			<%= f.input :payee_id, :as => :hidden, :input_html => { :value => @payee.id } %>
			<%= f.input :fundraiser_id, :as => :hidden, :input_html => { :value => @fundraiser.id } %>
		<% end %>
		<div class="field">
			<%= f.label :amount %><br>
			<%= f.number_field :amount %>
		</div>
		<div class="field">
			<%= f.label :message %><br>
			<%= f.text_area :message %>
		</div>
<<<<<<< HEAD
		<%= f.submit( "Make Payment", class: 'pure-button') %>
=======
		<%= f.submit( "Send Payment", class: 'pure-button') %>
>>>>>>> 823cf01b8088731619ad0e32b8333ea7287f5902
	</div>
<% end %>
