<p id="notice"><%= notice %></p>

<h3>Your Payments</h3>

<h5>Payments Sent</h5>

<!-- Table when user = payer -->
<% for p in @payer_payments %>
  <table>
    <thead>
      <tr>
        <th>Payee</th>
        <th>Fundraiser</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= User.find(p.payee_id).proper_name %></td>
        <td><%= p.fundraiser_id %></td>
        <td><%= number_to_currency(p.amount) %></td>
        <td><%= p.date.strftime("%m/%d/%y") %></td>
        <td><%= link_to 'Show', p %></td>
        <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'New Payment', new_payment_path %>
