<style>
#coin-animation {
	width: 100%;
	text-align: center;
}
#coin-jar {
	position: relative;
	height: 200px;
	width: 187px;

	margin: 0 auto;
	margin-top: 65px;
	margin-bottom: 30px;
}
#coins-pail {
	left: 5px;
	position: absolute;
}
#coins-coins {
	display: none;
	left: 5px;
	position: absolute;
}
#fund-info {
	color: #219cc8;
	font-size: 24px;

	height: 96px;
	margin-bottom: 20px;
}
#balance {
	display: none;
	font-size: 48px;
}
#user-actions {
	margin: 0 auto;
	width: 400px;
	margin-bottom: 20px;

	position: relative;
	left: 28px;
}
#user-actions a, #user-actions a:hover {
	text-decoration: none;
	color: #219cc8;
}
.user-action {
	height: 84px;
	margin: 0 auto;
}
.user-action:hover {
	filter: brightness(0.8);
}
</style>
<p id="notice"><%= notice %></p>
<div id="coin-animation">
	<div id="coin-jar">
		<%= image_tag 'animations/coins-coins.png', height: '200', id: 'coins-coins' %>
		<%= image_tag 'animations/coins-pail.png', height: '200', id: 'coins-pail' %>

		<script>
		$(document).ready(function() {
			$('#coins-coins').show();
			// $('#coins-coins').animateCss('bounceInDown');
			var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
			$('#coins-coins').addClass('animated ' + 'bounceInDown').one(animationEnd, function() {
		            $('#coins-coins').removeClass('animated ' + 'bounceInDown');
		            $('#balance').show();
		            $('#balance').animateCss('bounceIn');
		        });
			});
		</script>
	</div>
	<div id="fund-info">
		Your Funds
		<div id="balance">
			<%= number_to_currency(current_user.funds) %>
		</div>
	</div>
</div>

<div class="full-width">
	<div id="user-actions">
		<div class="pure-g">
			<div class="pure-u-1-3">
				<%= link_to new_organization_path do %>
					<%= image_tag "icons/building-icon-blue.png", class: "user-action" %>
					<span style="width: 10px;"></span>Create Org
				<% end %>
			</div>
			<div class="pure-u-1-3">
				<%= link_to new_fundraiser_path do %>
					<%= image_tag "icons/bag-icon-blue.png", class: "user-action" %>
					&nbsp;Fundraise
				<% end %>
			</div>
			<div class="pure-u-1-3">
				<%= link_to new_payment_path(:source => "personal") do %>
					<%= image_tag "icons/handshake-icon-blue.png", class: "user-action" %><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pay
				<% end %>
			</div>
		</div>
	</div>
	<div class="small-basic-container section light-gray">
		<h3 style="margin: 0;">Your Payments</h3>

		<h5>Payments Sent</h5>
		<% unless @payer_payments.empty? %>
			<!-- Table when user = payer -->
			<table>
				<thead>
					<tr>
						<th>Payment ID</th>
						<th>Payee</th>
						<th>Amount</th>
						<th>Date</th>
					</tr>
				</thead>

				<tbody>
					<% for p in @payer_payments %>
						<tr>
							<td><%= link_to p.id, payment_path(p) %></td>
							<td><%= User.find(p.payee_id).proper_name %></td>
							<td><%= number_to_currency(p.amount) %></td>
							<td><%= p.date.strftime("%m/%d/%y") %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			No payments exist in our system yet.
		<% end %>
		<br>

		<h5>Payments Received</h5>
		<% unless @payee_payments.empty? %>
			<!-- Table when user = payee -->
			<table>
				<thead>
					<tr>
						<th>Payer</th>
						<th>Amount</th>
						<th>Date</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% for p in @payee_payments %>
						<tr>
							<td><%= User.find(p.payer_id).proper_name %></td>
							<td><%= number_to_currency(p.amount) %></td>
							<td><%= p.date.strftime("%m/%d/%y") %></td>
							<% unless p.is_paid_back %>
								<td><%= link_to "Pay Back", create_payback_path(p) %></td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			No payments exist in our system yet.
		<% end %>
		<br>

		<%= link_to 'New Payment', new_payment_path(:source => "personal") %>

	</div>
</div>