<p id="notice"><%= notice %></p>
<style>
	.photos {
		margin-top: 30px;
		font-size: 18px;
	}
	.payment-amount {
		font-size: 32px;
		color: #219cc8;
	}
	a {
		text-decoration: none !important;
	}
	.user-photo {
		height: 180px;
		border-radius: 90px;

		margin-bottom: 10px;
	}
	.user-photo:hover {
		filter: brightness(0.8);
	}
	#payee-photo {

		display: none;
	}
	#arrow {
		margin-top: 20px;
		height: 50px;
		filter: saturate(0.6);
	}
</style>
<div class="full-width">
	<div class="medium-basic-container" style="width: 650px;">
		<div class="pure-g photos">
			<div class="pure-u-8-24" style="text-align: center !important;">
				<%= link_to user_path(@payer) do %>
					<%= image_tag getUserImagePath(@payer.nickname), class: 'user-photo', id: "payer-photo" %>
					<br/>
					<span style="width: 10px;"></span><%= @payer.proper_name %>
				<% end %>
			</div>
			<div class="pure-u-8-24" style="text-align: center !important; position: relative; top: 30px;">
				<div class="payment-amount">
					<%= number_to_currency(@payment.amount) %>
				</div>
				<%= image_tag 'icons/double-arrow-blue.png', id: 'arrow' %>
			</div>
			<div class="pure-u-8-24" style="text-align: center !important;">
				<%= link_to user_path(@payee) do %>
					<div style="height: 190px;">
						<%= image_tag getUserImagePath(@payee.nickname), class: 'user-photo', id: "payee-photo" %>
					</div>
					<span style="width: 10px;"></span><%= @payee.proper_name %>
				<% end %>
			</div>
			<script>
				$(document).ready(function() {
					$('#payer-photo').animateCss("bounceIn");

					setTimeout(function() {
						$('#payee-photo').show();
						$('#payee-photo').animateCss("bounceIn");
					}, 1000);
				});
			</script>
		</div>
	</div>

	<div class="full-width" style="margin-top: 30px;">
		<div class="small-basic-container">
			<div class="section light-gray">
				<style>
					.wrapper {
						margin: 0 auto;
						font-family: "Segoe UI";
					}
					#header {
						min-height: 50px;
					}
					#message-header, #date {
						font-size: 24px;
						color: #219cc8;
					}
					#message-header {
						float: left;
					}
					#date {
						float: right;
					}
					#message-body {
						color: #2d2d2d;
					}
				</style>
				<div class="wrapper">
					<div id="header">
						<div id="date">
							<%= @payment.date.strftime("%-m-%-d-%y") %>
						</div>
						<div id="message-header">
							Message
						</div>
					</div>
					<div id="message-body">
						<%= @payment.message %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>