<%= form_for(@payback) do |f| %>
  <% if @payback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payback.errors.count, "error") %> prohibited this payback from being saved:</h2>

      <ul>
      <% @payback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_id %><br>
    <%= f.number_field :payment_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
