<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Listing Members:</strong>
  <% unless @members.empty? %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Nickname</th>
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td><%= member.user.name %></td>
            <td><%= member.user.nickname %></td>
            <td><%= member.role %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    There are no current members in this organization at the time.
  <% end %>
</p>

<div id="message_thread">
  <p>
    <strong>Message Thread:</strong>
    <% unless @messages.empty? %>
      <% for m in @messages %>
        <% @ou = OrganizationUser.find(m.sender_id) %>
        <li><%= @ou.user.name + ": " + m.message_text %></li>
      <% end %>
    <% else %>
      This organization has no messages at the time.
    <% end %>
    <%= link_to "Click here to post a new message.", new_message_path(org_id: @organization.id) %>
  </p>
</div>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
